* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

  /* border: 1px solid red; */
}

html,
body {
  height: 100%;
  background-color: #181820;
  overflow: hidden;
}

header {
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: #21212b;
}

header h1 {
  margin-right: auto;
  color: #d2d2d2;
}

header .sign-out {
  padding: 0.7rem 1.8rem;
  border-radius: 10px;
  font-size: 0.9rem;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
  background: gray;
}

header .profile-img img {
  width: 3.5rem;
}

main {
  display: flex;
  align-items: stretch;
  color: white;
  height: 90%;
}

main nav {
  flex-basis: 20%;
  background-color: #21212b;
  margin: 0.7rem 0;
  border-radius: 0 18px 18px 0;
  padding: 4rem 1.5rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

main nav .option {
  background-color: #4b4b4b;
  padding: 0.5rem 1rem;
  border-radius: 10px;

  display: flex;
  align-items: center;
  gap: 1rem;
}

main nav .option.active {
  background-color: gray;
}

main nav .option * {
  pointer-events: none;
}

section.todo-container > div:not(.all-tasks) {
  display: none;
}

section.todo-container {
  flex-basis: 60%;
  max-height: 100%;
  margin: 4rem auto 2rem;
  overflow: auto;
}

section.todo-container::-webkit-scrollbar {
  appearance: none;
}

.todo-container > div {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.todo-container > div h2 {
  font-size: 2.4rem;
}

.todo-container > div h3 {
  margin-top: 0.5rem;
}

.todo-container .todos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.todos .todo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  background-color: #272732;
  border-radius: 15px;
  padding: 0.9rem 1.2rem;
}

.todo input {
  width: 25px;
  height: 25px;
}
.todo p {
  flex: 1;
}
.todo input:checked + p {
  text-decoration: line-through;
}

.todo span.priority {
  width: 12px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.todo span.priority.urgent {
  background-color: #bb3f3f;
}
.todo span.priority.regular {
  background-color: rgb(43, 168, 43);
}
.todo span.priority.low {
  background-color: #f3f34b;
}

.todo button {
  background-color: transparent;
  width: 20px;
  cursor: pointer;
  margin-left: 1rem;
}

.todo button img {
  width: 100%;
  pointer-events: none;
}

main .add-todo-ic {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  cursor: pointer;
}

main .add-todo-ic img {
  width: 4rem;
}

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000020;
  backdrop-filter: blur(3px);
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-container.show {
  display: flex;
}

.modal {
  padding: 5rem 4rem 3rem;
  max-width: 650px;
  background-color: #292936;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  box-shadow: 0 0 100px #000000;
}

.modal input[type="text"] {
  flex-basis: 100%;
  max-width: 100%;
  padding: 0.8rem 1.4rem;
  border-radius: 10px;
  font-size: 1.2rem;
}
.modal input[type="text"]::placeholder {
  font-size: 1rem;
}

.modal input[type="date"],
.modal select {
  flex-basis: 30%;
  padding: 0.6rem 1rem;
  border-radius: 10px;
  font-size: 1rem;
}

.modal .buttons {
  flex-basis: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  margin-top: 3rem;
}

.modal .buttons button {
  padding: 0.7rem 1.8rem;
  border-radius: 10px;
  font-size: 0.9rem;
  font-weight: 600;
  color: #ffffff;
  background: linear-gradient(45deg, #3bb0db, #4368e8);
  cursor: pointer;
}

.modal .buttons button.cancel {
  background: #4b4b4b;
}
